# 数据结构: Series和DataFrame

In [1]:
import pandas as pd
from pandas import Series, DataFrame
x1 = Series([1,2,3,4])
x2 = Series(data=[1,2,3,4], index=['a','b','c','d'])
print(x1)
print(x2)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [2]:
d = {'a':1,'b':2,'c':3,'d':4}
x3 = Series(d)
print(x3)

a    1
b    2
c    3
d    4
dtype: int64

# DataFrame 类型数据结构类似数据库表

In [7]:
data = {'Chinese':[66,95,93,90,80],'English':[65,85,92,88,90],'Math':[30,98,96,77,90]}
df1 = DataFrame(data)
df2 = DataFrame(data, index=['zhangfei','guanyu','zhaoyun','huangzhong','dianwei'],columns=['Chinese','English','Math'])
print(df1)
print(df2)

   Chinese  English  Math
0       66       65    30
1       95       85    98
2       93       92    96
3       90       88    77
4       80       90    90
            Chinese  English  Math
zhangfei         66       65    30
guanyu           95       85    98
zhaoyun          93       92    96
huangzhong       90       88    77
dianwei          80       90    90

# 数据导入和输出

In [4]:
import pandas as pd
from pandas import Series, DataFrame

score = DataFrame(pd.read_csv('05-sample.csv'))
print(score)
score.to_csv('05-sample2.csv')

         name  chinese  math  english
0    zhangfei       66    65       30
1      guanyu       95    85       98
2     zhaoyun       93    92       96
3  huangzhong       90    88       77
4     dianwei       80    90       90

# 数据清理

In [6]:
data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df2)

#删除“Chinese”列
df2 = df2.drop(columns = ['Chinese'])

#删除“zhangfei”行
df2 = df2.drop(index = ['ZhangFei'])
print(df2)

            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80
            English  Math
GuanYu           85    98
ZhaoYun          92    96
HuangZhong       88    77
DianWei          90    90

In [7]:
#重命名列名
data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df2)
df2.rename(columns={'Chinese':'语文','English':'英语','Math':'数学'}, inplace = True)
print(df2)

            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80
            英语  数学  语文
ZhangFei    65  30  66
GuanYu      85  98  95
ZhaoYun     92  96  93
HuangZhong  88  77  90
DianWei     90  90  80

In [8]:
#去重复的值
data = {'Chinese': [66, 66, 93, 90,80],'English': [65, 65, 92, 88, 90],'Math': [30, 30, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'ZhangFei', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df2)

df2 = df2.drop_duplicates()
print(df2)

            English  Math  Chinese
ZhangFei         65    30       66
ZhangFei         65    30       66
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80
            English  Math  Chinese
ZhangFei         65    30       66
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

In [22]:
#更改数据格式
import numpy as np
data = {'Chinese': ['$66', '$95', '$93','$90','$80'],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df2)

df2['Chinese'].astype('str')
df2['Chinese']=df2['Chinese'].str.strip('$')
df2['Chinese']=df2['Chinese'].map(str.strip)

df2['English'].astype(np.int64)
print(df2)

            English  Math Chinese
ZhangFei         65    30     $66
GuanYu           85    98     $95
ZhaoYun          92    96     $93
HuangZhong       88    77     $90
DianWei          90    90     $80
            English  Math Chinese
ZhangFei         65    30      66
GuanYu           85    98      95
ZhaoYun          92    96      93
HuangZhong       88    77      90
DianWei          90    90      80

# 大小写转换

In [26]:
df2.columns = df2.columns.str.lower()
print(df2)
print()
df2.columns = df2.columns.str.title()
print(df2)

            english  math chinese
ZhangFei         65    30      66
GuanYu           85    98      95
ZhaoYun          92    96      93
HuangZhong       88    77      90
DianWei          90    90      80

            English  Math Chinese
ZhangFei         65    30      66
GuanYu           85    98      95
ZhaoYun          92    96      93
HuangZhong       88    77      90
DianWei          90    90      80

# 查找空值

In [38]:
data = {'Chinese': [66,None,93,90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df2)
df2.isnull()
print()
df2.isnull().any()

            English  Math  Chinese
ZhangFei         65    30     66.0
GuanYu           85    98      NaN
ZhaoYun          92    96     93.0
HuangZhong       88    77     90.0
DianWei          90    90     80.0

English    False
Math       False
Chinese     True
dtype: bool

# 使用apply函数对数据进行清洗

In [39]:
data = {'Chinese': [66, 95, 93,90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df2)
print()

#语文成绩x2
def double_df(x):
    return 2*x
df2['Chinese'] = df2['Chinese'].apply(double_df)
print(df2)

            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

            English  Math  Chinese
ZhangFei         65    30      132
GuanYu           85    98      190
ZhaoYun          92    96      186
HuangZhong       88    77      180
DianWei          90    90      160

In [47]:
#新增一列，是语文和英语成绩之和的n倍
data = {'Chinese': [66, 95, 93,90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df2)
print()

def plus(df,n):
    df['(C+E)*n'] = (df['Chinese'] + df['English']) * n
    return df

df2 = df2.apply(plus, axis = 1, args=(3,))
print(df2)

            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

            English  Math  Chinese  (C+E)*n
ZhangFei         65    30       66      393
GuanYu           85    98       95      540
ZhaoYun          92    96       93      555
HuangZhong       88    77       90      534
DianWei          90    90       80      510

# 数据统计

In [49]:
df = DataFrame({
    'name':['zhangfei','guanyu','a','b','c'],
    'data1':range(5)
})
print(df)
print(df.describe())

       name  data1
0  zhangfei      0
1    guanyu      1
2         a      2
3         b      3
4         c      4
          data1
count  5.000000
mean   2.000000
std    1.581139
min    0.000000
25%    1.000000
50%    2.000000
75%    3.000000
max    4.000000

# 数据表合并

In [56]:
df1 = DataFrame({
    'name':['ZhangFei','GuanYu','a','b','c'],
    'data1':range(5)
})
df2 = DataFrame({
    'name':['ZhangFei','GuanYu','A','B','C'],
    'data2':range(5)
})
print(df1)
print()
print(df2)

       name  data1
0  ZhangFei      0
1    GuanYu      1
2         a      2
3         b      3
4         c      4

       name  data2
0  ZhangFei      0
1    GuanYu      1
2         A      2
3         B      3
4         C      4

In [54]:
# 基于指定列进行连接
df3 = pd.merge(df1,df2,on = 'name')
print(df3)

       name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1

In [55]:
# inner内连接
df4 = pd.merge(df1,df2,how='inner')
print(df4)

       name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1

In [57]:
# left左连接
df5 = pd.merge(df1,df2,how='left')
print(df5)

       name  data1  data2
0  ZhangFei      0    0.0
1    GuanYu      1    1.0
2         a      2    NaN
3         b      3    NaN
4         c      4    NaN

In [58]:
# right右连接
df6 = pd.merge(df1,df2,how='right')
print(df6)

       name  data1  data2
0  ZhangFei    0.0      0
1    GuanYu    1.0      1
2         A    NaN      2
3         B    NaN      3
4         C    NaN      4

In [59]:
# outer外连接
df7 = pd.merge(df1,df2,how='outer')
print(df7)

       name  data1  data2
0  ZhangFei    0.0    0.0
1    GuanYu    1.0    1.0
2         a    2.0    NaN
3         b    3.0    NaN
4         c    4.0    NaN
5         A    NaN    2.0
6         B    NaN    3.0
7         C    NaN    4.0

# 如何使用SQL方式打开Pandas

# 练习

In [78]:
import pandas as pd
from pandas import DataFrame

df = DataFrame({
    'Name':['张飞','关羽','赵云','黄忠','黄忠'],
    'Chinese':[66,95,95,80,80],
    'English':[65,85,92,90,90],
    'Math':[None,98,96,90,90]
})

# 去重复
df = df.drop_duplicates()

# 查看是否有空值
print(df.isnull().sum())
print()

# 张飞的数学填充平均值
df['Math'].fillna(df['Math'].mean(), inplace=True)

# 求总分
def plus(df):
    df['Total'] = df['Chinese'] + df['English'] + df['Math']
    return df

df = df.apply(plus, axis = 1)

# 更改列名
df.rename(columns={'Name':'姓名','Chinese':'语文','English':'英语','Math':'数学','Total':'总分'}, inplace = True)

print(df)
print(df.describe())

Name       0
Chinese    0
English    0
Math       1
dtype: int64

   姓名  语文  英语         数学          总分
0  张飞  66  65  94.666667  225.666667
1  关羽  95  85  98.000000  278.000000
2  赵云  95  92  96.000000  283.000000
3  黄忠  80  90  90.000000  260.000000
              语文         英语         数学          总分
count   4.000000   4.000000   4.000000    4.000000
mean   84.000000  83.000000  94.666667  261.666667
std    13.928388  12.355835   3.399346   25.952949
min    66.000000  65.000000  90.000000  225.666667
25%    76.500000  80.000000  93.500000  251.416667
50%    87.500000  87.500000  95.333333  269.000000
75%    95.000000  90.500000  96.500000  279.250000
max    95.000000  92.000000  98.000000  283.000000